<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>
<style type="text/css">
	label {
		display: inline-block;
		width: 150px;
		margin: 5px;
		text-align: left;
	}
	input[type=text], input[type=password], select {
		display: inline-block;
		width: 150px;
		text-align: left;
	}
	
</style>
</head>
<body>
	<div align="center">
		<h1>User Registration</h1>
		<form action="#" th:action="@{insert}" method="post" th:object="${user}">
			<label>First Name:</label>
			<input type="text" th:field="*{firstName}" autofocus/><br/>
			
			<label>Last Name:</label>
			<input type="text" th:field="*{lastName}" /><br/>
			
			<label>Password:</label>
			<input type="password" th:field="*{password}" /><br/>
			
			<label>Email:</label>
			<input type="email" th:field="*{email}" /><br/>
			
			<label>Active</label>
			<input type="checkbox" th:field="*{isEnabled}" /><br/>
			
			<th:block th:each="role, i : ${allRoles}">
				<label th:text="${role.getDisplay()}">Role</label>
				
<!-- 				the array index needs t be i - 1 because Tymeleaf array count starts at 1 -->
				
				<input type="checkbox"  th:field="*{hasEachRole[__${i.count-1}__]}" /><br/>
			</th:block>
						
			<button type="submit">Register</button>		
		</form>
	</div>
	<div align="center">
		<a href="/restricted">Go back to admin main page</a>
	</div>	
	<div align="center">
		<a href="/admin/allUsers">List all users</a>
	</div>	
</body>
</html>