<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Front Page</title>
</head>
<body>
<h1>This is the front unsecure page</h1>
<hr>
<p>Click <a href="/login">HERE</a> to login.</p>
<p>Click <a href="/welcome">HERE</a> to go to the welcome page.</p>
<p>Click <a href="/restricted">HERE</a> to go to admin page.</p>
<p>
	<form th:action="@{/logout}" method= "post" th:hidden="true">
		<input type="submit" value = "logout" />
	</form>
	<a class = "nav-link" href="/logout">Logout</a>
</p>
</body>
</html>