
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Please sign in</title>
<link href="/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<h1>System Login</h1>
	<div class="container">
		<form action="#" th:action="@{/login}" method="post"
			th:object="${userCredentials}">
			<fieldset>
				<legend>Please Login</legend>
				<div th:if="${param.error}" class="alert alert-error">Bad
					Credentials</div>
				<div th:if="${param.logout}" class="alert alert-success">You
					have been logged out</div>

				<label for="username">Username</label> 
				<input type="text" id="username" name="username" placeholder="Username" required autofocus> 
				<label for="password">Password</label> 
				<input type="password" id="password" name="password" placeholder="Password" required>
				
					<button class="btn" type="submit">Sign in</button>
				
			</fieldset>
		</form>
	</div>
	
	<p>Click <a href="/">here</a> to go back to initial page </p>
</body>
</html>
